<!DOCTYPE html>

<html lang="en">

 <head>

   <title>My Documents</title>

   <meta charset="utf-8">

 </head>

 <body>

   <div id="root">
    <!--
    <table>
      <% for(var i=0; i < filesForFrontEnd.length; i++) { %>
         <tr>
           <td><%= filesForFrontEnd[i].id %></td>
           <td><%= filesForFrontEnd[i].name %></td>
         </tr>
      <% } %>
    </table>-->

    <% for(var i=0; i < filesForFrontEnd.length; i++) { %>
      <h1><%= filesForFrontEnd[i].name %></h1>
    <% } %>
    
    </div>
      <form action ="http://localhost:3000/mydocs" method="POST" enctype="multipart/form-data">
        <label for = "file">Upload file:</label>
      <input type="file" id = "file" name = "file" multiple>
        <button type = "submit">Submit</button>
        </form>    


   </div>

 </body>

</html>